.logo {
  height: 20px;
}
body {
  background: black;
}
.icon i {
  font-size: 2em;
}
ul.list-footer li {
  list-style: none;
  margin-right: 20px;
}
ul.list-footer li a {
  text-decoration: none;
}
ul.list-footer li a i {
  font-size: 2em;
}
nav {
  right: 0;
  left: 0;
  z-index: 9999;
}
